* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pro-container {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.project-box {
  width: 70%;
  height: 70%;

  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  
}

.mySlides {
  width: 100%;
  height: 100%;
  background-size: contain;

  box-shadow: 0px 0px 100px #333;
  border-radius: 15px;
  display: none;
}
.mySlides:hover{
  border-radius: 20px;
  scale: .95;
  box-shadow: 0px 0px 100px rgb(248, 248, 154);
}
.ani {
  display: flex;
  justify-content: center;
  gap: 8px;

  }
 .left {
  color: #333;
  font-size: 60px;
  cursor: pointer;
  margin-top: 15rem;
  margin-right: 3rem;
  height: 70px; 
}
.left:hover{
  color:orange;
}
.right {
  color: #333;
  font-size: large;
  cursor: pointer;
  height: 70px;
  font-size: 60px;

  margin-top: 15rem;
  margin-left: 3rem;
}
.right:hover{
  color: orange;
}
.ani .badge-demo {
  width: 15px;
  height: 15px;
  background: transparent;
  border-radius: 50%;
  margin-top: 1rem;
  border: 1px solid black;
  cursor: pointer;
  
  
}
.ani .badge-demo:hover {
  background-color: #333;
}
.ani .white{
  background-color: #333;
}

.pro-text {
  margin-top: 2rem;
  margin-left: 35%;
  margin-bottom: 4rem;
}
.pro-text h2 {
  color: #333;
  padding-top: 10px;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.name h2 {
  color: black;
}
.more h3 a {
  color: black;
}
.con-container {
  background-color: white;
  width: 100%;
  height: 80vh;
}

@media (max-width: 1081px) {

  .pro-text h2 {
    color: #333;
    padding-top: 10px;
    font-size: 2rem;
    margin-left: -6rem;
    font-weight: bold;
    letter-spacing: -1px;
  }
  .project-box{
    margin-left: 1rem;
    height: 35rem;
  }
  .mySlides{
    width: 51.5rem;
    height: 30rem;
  }
  .pro-container {
    background-color: white;
    width: 100%;
    height: 35vh;
  }
  .con-container {
    background-color: white;
    width: 100%;
    height: 30vh;
  }
  }


          @media (max-width: 1025px) {

            .pro-text h2 {
              color: #333;
              padding-top: 10px;
              font-size: 2rem;
              margin-left: -6rem;
              font-weight: bold;
              letter-spacing: -1px;
            }
            .project-box{
              margin-left: 1rem;
              height: 35rem;
            }
            .mySlides{
              width: 51.5rem;
              height: 30rem;
            }
            .pro-container {
              background-color: white;
              width: 100%;
              height: 60vh;
            }
            }
            
          @media (max-width: 913px) {

            .pro-text h2 {
              color: #333;
              padding-top: 10px;
              font-size: 2rem;
              margin-left: -6rem;
              font-weight: bold;
              letter-spacing: -1px;
            }
            .project-box{
              margin-left: 1rem;
              height: 35rem;
            }
            .mySlides{
              width: 45rem;
              height: 30rem;
            }
            .pro-container {
              background-color: white;
              width: 100%;
              height: 60vh;
            }
            }
            
              
              @media (max-width: 821px) {
          
                .pro-text h2 {
                  color: #333;
                  padding-top: 10px;
                  font-size: 2rem;
                  margin-right: 3rem;
                  font-weight: bold;
                  letter-spacing: -1px;
                }
                .project-box{
                  margin-left: 1rem;
                  height: 35rem;
                }
                .mySlides{
                  width: 39rem;
                  height: 30rem;
                }
                .pro-container {
                  background-color: white;
                  width: 100%;
                  height: 75vh;
                }
                }

                @media (max-width: 768px) {
          
                  .con-container {
                    background-color: white;
                    width: 100%;
                    height: 80vh;
                  }
                  .pro-container {
                    background-color: white;
                    width: 100%;
                    height: 95vh;
                  }
                  .project-box {
                    width: 85%;
                    height: 60%;
                  margin-left: 1.5rem;
                    
                    
                    display: block;
                    
                    
                  }
                  .mySlides{
                    width: 44rem;
                    height: 27rem;
                  }

                  .left {
                    
                    display: none;
                     
                  }
                  .right {
                    
                    display: none;
                     
                  }
                  .ani {
                    display: flex;
                    justify-content: center;
                    gap: 8px;
                    margin-top: 5rem;
                  
                    }
                  
                  
                  .pro-text h2 {
                    color: #333;
                    
            
                    font-weight: bold;
                    
                    font-size:large;
                  }
                  .pro-text {
                  margin-left: 50%;
                    
                  }
                }
                @media (max-width: 701px) {
                  .con-container {
                    background-color: white;
                    width: 100%;
                    height: 80vh;
                  }
                  .pro-container {
                    background-color: white;
                    width: 100%;
                    height: 70vh;
                  }
                  .project-box {
                    width: 85%;
                    height: 60%;
                  margin-left: 2rem;
                    
                    
                    display: block;
                    
                    
                  }
                  .mySlides{
                    width: 40rem;
                    height: 27rem;
                  }
                  .left {
                    
                    display: none;
                     
                  }
                  .right {
                    
                    display: none;
                     
                  }
                  .ani {
                    display: flex;
                    justify-content: center;
                    gap: 8px;
                    margin-top: 5rem;
                  
                    }
                  
                  
                  .pro-text h2 {
                    color: #333;
                    
            
                    font-weight: bold;
                    
                    font-size:large;
                  }
                  .pro-text {
                  margin-left: 40%;
                    
                  }
                       

                  }

                @media (max-width: 578px) {
                  .con-container {
                    background-color: white;
                    width: 100%;
                    height: 80vh;
                  }
                  .pro-container {
                    background-color: white;
                    width: 100%;
                    height: 80vh;
                  }
                  .project-box {
                    width: 85%;
                    height: 60%;
                  margin-left: 2rem;
                    
                    
                    display: block;
                    
                    
                  }
                  .mySlides{
                    width: 32rem;
                    height: 27rem;
                  }
                  .left {
                    
                    display: none;
                     
                  }
                  .right {
                    
                    display: none;
                     
                  }
                  .ani {
                    display: flex;
                    justify-content: center;
                    gap: 8px;
                    margin-top: 5rem;
                  
                    }
                  
                  
                  .pro-text h2 {
                    color: #333;
                    
            
                    font-weight: bold;
                    
                    font-size:large;
                  }
                  .pro-text {
                  margin-left: 40%;
                    
                  }
                       

                  }

                @media (max-width: 541px) {
                  .con-container {
                    background-color: white;
                    width: 100%;
                    height: 80vh;
                  }
                  .pro-container {
                    background-color: white;
                    width: 100%;
                    height: 95vh;
                  }
                  .project-box {
                    width: 85%;
                    height: 60%;
                  margin-left: 2rem;
                    
                    
                    display: block;
                    
                    
                  }
                  .mySlides{
                    width: 29rem;
                    height: 27rem;
                  }
                  .left {
                    
                    display: none;
                     
                  }
                  .right {
                    
                    display: none;
                     
                  }
                  .ani {
                    display: flex;
                    justify-content: center;
                    gap: 8px;
                    margin-top: 5rem;
                  
                    }
                  
                  
                  .pro-text h2 {
                    color: #333;
                    
            
                    font-weight: bold;
                    
                    font-size:large;
                  }
                  .pro-text {
                  margin-left: 40%;
                    
                  }
                       

                  }
                  @media (max-width: 484px) {
                    .con-container {
                      background-color: white;
                      width: 100%;
                      height: 80vh;
                    }
                    .pro-container {
                      background-color: white;
                      width: 100%;
                      height: 75vh;
                    }
                    .project-box {
                      width: 85%;
                      height: 60%;
                    margin-left: 2rem;
                      
                      
                      display: block;
                      
                      
                    }
                    .mySlides{
                      width: 26rem;
                      height: 27rem;
                    }
                    .left {
                      
                      display: none;
                       
                    }
                    .right {
                      
                      display: none;
                       
                    }
                    .ani {
                      display: flex;
                      justify-content: center;
                      gap: 8px;
                      margin-top: 5rem;
                    
                      }
                    
                    
                    .pro-text h2 {
                      color: #333;
                      
              
                      font-weight: bold;
                      
                      font-size:large;
                    }
                    .pro-text {
                    margin-left: 40%;
                      
                    }
                    }
          

                  @media (max-width: 431px) {
                    .con-container {
                      background-color: white;
                      width: 100%;
                      height: 80vh;
                    }
                    .pro-container {
                      background-color: white;
                      width: 100%;
                      height: 95vh;
                    }
                    .project-box {
                      width: 85%;
                      height: 60%;
                    margin-left: 3rem;
                      
                      
                      display: block;
                      
                      
                    }
                    .mySlides{
                      width: 22rem;
                      height: 27rem;
                    }
                    .left {
                      
                      display: none;
                       
                    }
                    .right {
                      
                      display: none;
                       
                    }
                    .ani {
                      display: flex;
                      justify-content: center;
                      gap: 8px;
                      margin-top: 5rem;
                    
                      }
                    
                    
                    .pro-text h2 {
                      color: #333;
                      
              
                      font-weight: bold;
                      
                      font-size:large;
                    }
                    .pro-text {
                    margin-left: 40%;
                      
                    }
                    }
          
          
                  @media (max-width: 415px) {
                    
                    .con-container {
                      background-color: white;
                      width: 100%;
                      height: 80vh;
                    }
                    .pro-container {
                      background-color: white;
                      width: 100%;
                      height: 95vh;
                    }
                    .project-box {
                      width: 85%;
                      height: 60%;
                    margin-left: 2rem;
                      
                      
                      display: block;
                      
                      
                    }
                    .mySlides{
                      width: 22rem;
                      height: 27rem;
                    }
                    .left {
                      
                      display: none;
                       
                    }
                    .right {
                      
                      display: none;
                       
                    }
                    .ani {
                      display: flex;
                      justify-content: center;
                      gap: 8px;
                      margin-top: 5rem;
                    
                      }
                    
                    
                    .pro-text h2 {
                      color: #333;
                      
              
                      font-weight: bold;
                      
                      font-size:large;
                    }
                    .pro-text {
                    margin-left: 40%;
                      
                    }
                    }
                   
          
                  @media (max-width: 391px) {
                    .con-container {
                      background-color: white;
                      width: 100%;
                      height: 80vh;
                    }
                    .pro-container {
                      background-color: white;
                      width: 100%;
                      height: 95vh;
                    }
                    .project-box {
                      width: 85%;
                      height: 60%;
                    margin-left: 1rem;
                      
                      
                      display: block;
                      
                      
                    }
                    .mySlides{
                      width: 22rem;
                      height: 27rem;
                    }
                    .left {
                      
                      display: none;
                       
                    }
                    .right {
                      
                      display: none;
                       
                    }
                    .ani {
                      display: flex;
                      justify-content: center;
                      gap: 8px;
                      margin-top: 5rem;
                    
                      }
                    
                    
                    .pro-text h2 {
                      color: #333;
                      
              
                      font-weight: bold;
                      
                      font-size:large;
                    }
                    .pro-text {
                    margin-left: 40%;
                      
                    }
                    }
                    @media (max-width: 376px) {
                      .con-container {
                        background-color: white;
                        width: 100%;
                        height: 80vh;
                      }
                      .pro-container {
                        background-color: white;
                        width: 100%;
                        height: 95vh;
                      }
                      .project-box {
                        width: 85%;
                        height: 60%;
                      margin-left: .8rem;
                        
                        
                        display: block;
                        
                        
                      }
                      .mySlides{
                        width: 22rem;
                        height: 27rem;
                      }
                      .left {
                        
                        display: none;
                         
                      }
                      .right {
                        
                        display: none;
                         
                      }
                      .ani {
                        display: flex;
                        justify-content: center;
                        gap: 8px;
                        margin-top: 3rem;
                      
                        }
                      
                      
                      .pro-text h2 {
                        color: #333;
                        
                
                        font-weight: bold;
                        
                        font-size:large;
                      }
                      .pro-text {
                      margin-left: 40%;
                        
                      }
                      
                      }
                      @media (max-width: 333px) {
                        .con-container {
                          background-color: white;
                          width: 100%;
                          height: 80vh;
                        }
                        .pro-container {
                          background-color: white;
                          width: 100%;
                          height: 95vh;
                        }
                        .project-box {
                          width: 85%;
                          height: 60%;
                        margin-left: 0.4rem;
                          
                          
                          display: block;
                          
                          
                        }
                        .mySlides{
                          width: 22rem;
                          height: 27rem;
                        }
                        .left {
                          
                          display: none;
                           
                        }
                        .right {
                          
                          display: none;
                           
                        }
                        .ani {
                          display: flex;
                          justify-content: center;
                          gap: 8px;
                          margin-top: 3rem;
                        
                          }
                        
                        
                        .pro-text h2 {
                          color: #333;
                          
                  
                          font-weight: bold;
                          
                          font-size:large;
                        }
                        .pro-text {
                        margin-left: 40%;
                          
                        }
                        
                        }
          

